body {
    background-color: #7EC5AB;
}



.arrow_icon {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}


.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 359px;
    height: 78px;
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 3%;
    background-color: #A0D4C8;
    display: flex;
}

.label1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Jost", Arial, sans-serif;
    letter-spacing: 0.5px;
    color: #073B2F;
    margin-top: 2%;
    margin-left: 14%;
}

.email_icon {
    width: 43px;
    height: 43px;
    margin-left: 3%;
    margin-bottom: 8%;
    align-self: center;
}

.shield_icon {
    width: 45px;
    height: 45px;
    margin-left: 3%;
    margin-bottom: 8%;
    align-self: center;
}

.join_icon {
    width: 29px;
    height: 29px;
    align-self: center;
    margin-left: 1%;
}

.input-container-main {
    width: 334px;
    height: 66px;
    margin-bottom: 1%;
    background-color: #A0D4C8;
    border: none;
    border-radius: 10px;
}

.label2 {
    margin-top: 1%;
    margin-left: 2%;
    font-size: 13px;
    font-weight: bold;
    font-family: "Jost", Arial, sans-serif;
    letter-spacing: 0.5px;
    color: #073B2F;
    font-weight: bold;
    align-self: flex-start;
}

.input-container {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 55%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: #A0D4C8;
    border-radius: 10px;
    border: none;
}

input {
    width: 80%;
    border: 2px solid #A0D4C8;
    background-color: #A0D4C8;
    color: #073B2F;
    border-radius: 10px;
}



.registration-button {
    display: flex;
    flex-direction: row;
    width: 277px;
    height: 39px;
    background-color: #E3CDCD;
    border: none;
    border-radius: 10px;
    color: #F65858;
}

    .registration-button:hover {
        background-color: #E88F8F;
        color: #000000;
    }

.label3 {
    margin-top: 1%;
    margin-left: 0%;
    font-size: 22px;
    font-weight: bold;
    font-family: "Jost", Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-top: 2%;
}
